.info {
    display: flex;
    flex-direction: column;
   position: absolute;
   top: 20vh;
   left: 5vw;
   font-size: 1.6rem;
}


.info > .info-inner > p{
    position: relative;
/* position: absolute;
top: 20vh;
left:5vw; */
color: white;
z-index: 50;
font-size: 1.8rem;
width: 45vw;
}

.info >.info-inner >p > h1 > span{
    border:.2rem solid white;
    border-radius: .5rem;
}

.info >.info-inner>ul{
    position: relative;
    /* position: absolute;
    top:20vh;
    left:50vw; */
    width: 50vw;
    color: white;
    z-index: 50;
    font-size:1.8rem ;
}

.info >.info-inner{
    display: flex;
    margin-right: .5rem;
}

/* @media only screen and (max-width:768px){

    .info >.info-inner>ul>h1{
        font-size: 25px;
    }
    
    .info >.info-inner >p > h1 > span{
        font-size: 30px;
    }

    } */