.info {
    display: flex;
    flex-direction: column;
   position: absolute;
   top: 20vh;
   left: 5vw;
}


.info > .info-inner > p{
    position: relative;
/* position: absolute;
top: 20vh;
left:5vw; */
color: white;
z-index: 50;
font-size: 18px;
width: 45vw;
}

.info >.info-inner >p > h1 > span{
    border:2px solid white;
    border-radius: 5px;
}

.info >.info-inner>ul{
    position: relative;
    /* position: absolute;
    top:20vh;
    left:50vw; */
    width: 50vw;
    color: white;
    z-index: 50;
    font-size:18px ;
}

.info >.info-inner{
    display: flex;
    margin-right: 5px;
}

@media only screen and (max-width:768px){

    .info >.info-inner>ul>h1{
        font-size: 25px;
    }
    
    .info >.info-inner >p > h1 > span{
        font-size: 30px;
    }

    }