*{
    margin: 0;
}
.sideBar{
    height: 90vh;
    width: 20vw;
    z-index: 100;
    position: absolute;
    top: 11vh;
    left: -100%;
    background-color: rgba(0, 0, 0,0.8);;
    transition: 850ms;
    border-right: 3px solid rgb(190, 34, 34) ;
    border-left:  3px solid rgb(190, 34, 34) ;
    border-top: 3px solid rgb(190, 34, 34) ;
    border-radius:5px 5px 0 0 ;
    
}

.remainScreen{
 height: 90vh;
 width: 100vw;
 z-index: 99;
 position: absolute;
 left:0;
 top: 10vh;
 background-color: rgba(255,255,255,.1);  
}

.deleteIcon{
    color: red !important;
}

.sideBar > .button{
     color: red !important;
    display: flex;
    height:50px;
    align-items: center;
     background-color: rgb(219, 218, 218);
     margin:3px;
     text-transform: capitalize;
     padding: 2px;

}

.sideBar > .button:hover{
    background-color: rgba(255,255,255,.3);
}

.sideBar.active{
    left:1%;
    transition: 350ms;
}


.avatar{
    margin-right: 5px;
    color: red !important;
}

.userInfo > .name{
    color: red;
    margin-left: 3px;
    width: 70%;
    overflow: auto;
}
.userInfo{
    background-color: rgb(219, 218, 218);
    display: flex;
    align-items: center;
    height:50px;
    margin: 3px;
    padding: 2px;
}
.userInfo>.avatar{
    margin: 2px;
}

.sideBar_storage{
    margin:3px ;
    display: flex;
    align-items: center;
    background-color: rgb(219, 218, 218);
    padding: 2px;
    height:50px;
    text-decoration: none !important;
    
}
 .sideBar_storage>.storageIcon{
color: red !important;
margin-right: 5px;
}

.sideBar_storage> span{
    color: red;
}

.sideBar_storage:hover{
    background-color: rgba(255,255,255,.3);
}

.encryptFiles{
    margin:3px;
    display: flex;
    align-items: center;
    background-color: rgb(219, 218, 218);
    padding: 2px;
    height:50px;
    text-decoration: none !important;
}

.encryptFiles> #EnhancedEncryptionIcon{
    color: red !important;
    margin-right: 5px;
    }
    
    .encryptFiles> span{
        color: red;
        
    }
    
    .encryptFiles:hover{
        background-color: rgba(255,255,255,.3);
    }







@media only screen and (max-width:768px){

 .sideBar{
    width: 50vw;
 }

}